### Preprocessing work that to transform text data and LIWC data for further analysis.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from sklearn.cluster import MiniBatchKMeans
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
#!pip install openpyxl

# O.C.E.A.N

In [2]:
df= pd.read_csv('D:\\Class work\\2nd Year\\4th Sem\\Capstone\\Segmentation\\Actual_analysis\\LIWC\\Test2\\LIWC_for_OCEAN_Reviews.csv')

In [3]:
#list(df.columns)
Openness=['percept','hear','excl']
Conscientiousness=['achieve','work','body','death','anger','excl']
Extraversion=['humans','social','family']
Agreeableness= ['certain', 'incl','family','body','anger']
Neuroticism=['sad','negemo','body','anger','home','anx','work']
traits=(Openness,Conscientiousness,Extraversion,Agreeableness,Neuroticism)
traits

(['percept', 'hear', 'excl'],
 ['achieve', 'work', 'body', 'death', 'anger', 'excl'],
 ['humans', 'social', 'family'],
 ['certain', 'incl', 'family', 'body', 'anger'],
 ['sad', 'negemo', 'body', 'anger', 'home', 'anx', 'work'])

In [4]:
for trait in traits:
    df['Mean_'+str(trait)]=df[trait].mean(axis=1)

In [5]:
df = df.rename(columns = {'Source (A)':'Text'})
df=df.drop(columns=df.columns[1:-5],axis=1)
col_name=['Openness','Conscientiousness','Extraversion','Agreeableness','Neuroticism']
for j in range(1,6):
    old = df.columns[j]
    new = col_name[j-1]
    df = df.rename(columns = {old:new})

In [6]:
df=df.drop_duplicates()
OCEAN=df.sort_values('Text').reset_index(drop=True)
OCEAN.head()

,Text,Openness,Conscientiousness,Extraversion,Agreeableness,Neuroticism
0,"As a longtime fan of IQ, I was excited when I ...",4.066667,1.118333,1.423333,1.342,0.610000
1,As the massager in the equation I like that it...,4.760000,2.856667,1.906667,1.144,0.408571
2,But the top leaks. It does smell good and is r...,2.566667,1.283333,0.000000,1.538,0.000000
3,Gave me an instant headache upon applying to t...,1.553333,1.940000,1.550000,0.000,0.332857
4,Good for me but good thing I read the ingredie...,1.110000,1.110000,4.443333,1.332,0.475714

---

# LIWC-Lingusitic Analysis

In [7]:
df= pd.read_csv('D:\\Class work\\2nd Year\\4th Sem\\Capstone\\Segmentation\\Actual_analysis\\LIWC\\Test2\\LIWC_Lingusitic_Analysis_Reviews.csv')

In [8]:
df=df.drop(columns=df.columns[6:],axis=1)
df = df.rename(columns = {'Source (A)':'Text'})
df=df.drop_duplicates()
linguistics=df.sort_values('Text').reset_index(drop=True)
linguistics.head()

,Text,WC,Analytic,Clout,Authentic,Tone
0,"As a longtime fan of IQ, I was excited when I ...",164,76.20,40.36,16.87,71.55
1,As the massager in the equation I like that it...,35,44.59,4.35,43.37,99.00
2,But the top leaks. It does smell good and is r...,26,74.94,12.43,94.81,99.00
3,Gave me an instant headache upon applying to t...,43,43.45,32.10,34.47,95.29
4,Good for me but good thing I read the ingredie...,30,18.82,9.13,10.08,99.00

---

# Themes- Meaning Extraction Method

In [10]:
df= pd.read_csv('D:\\Class work\\2nd Year\\4th Sem\\Capstone\\Segmentation\\Actual_analysis\\MEM\\Reviews\\New folder\\2021-04-04_-_PCA_Results - Scores.csv')

In [11]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df = df.rename(columns = {'Filename':'Text'})
df=df.drop_duplicates()
Themes=df.sort_values('Text').reset_index(drop=True)
Themes.head()

,Text,RC1,RC2,RC3,RC4,RC5,RC6,RC10,RC9,RC7,RC8
0,"As a longtime fan of IQ, I was excited when I ...",1.224584,3.384495,11.214537,1.494544,3.449425,1.696473,-2.284880,2.651910,-0.982962,0.166945
1,As the massager in the equation I like that it...,-0.772610,-0.401240,-1.565051,-0.392241,-0.929367,-2.051842,0.133620,-0.282078,-0.108822,0.147577
2,But the top leaks. It does smell good and is r...,1.116823,-0.327541,-1.956411,-0.345580,-1.182697,-0.147329,-0.072685,-0.169118,-0.301334,0.976135
3,Gave me an instant headache upon applying to t...,-1.651336,17.181246,-0.592122,1.469903,-0.789921,-0.086725,-0.553850,-0.504018,-0.595375,0.771149
4,Good for me but good thing I read the ingredie...,-1.021191,-0.648800,-0.891510,-0.582308,-0.201064,-2.004105,-0.003482,1.053650,-0.456491,-0.182417

---

# Polarity

In [12]:
df= pd.read_csv('D:\\Class work\\2nd Year\\4th Sem\\Capstone\\Segmentation\\Actual_analysis\\MEM\\Reviews\\New folder\\2021-04-04_-_PCA_Results - Scores.csv')

In [13]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df = df.rename(columns = {'Filename':'Text'})
df=df.drop_duplicates()
Themes=df.sort_values('Text').reset_index(drop=True)
df=df.drop(columns=df.columns[1:],axis=1)

In [14]:
from textblob import TextBlob
df['Text']= df['Text'].astype(str) #Make sure about the correct data type
pol = lambda x: TextBlob(x).sentiment.polarity
df['Polarity'] = df['Text'].apply(pol)
df['Sentiment'] = df['Polarity'].apply(lambda x:'Good' if x>0 else ('Neutral' if x==0 else 'Bad')  )

In [15]:
polarity = df

---

## Combine

In [16]:
from functools import reduce
data_frames = [linguistics, OCEAN, Themes,polarity]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Text']), data_frames)
df_merged.head()

,Text,WC,Analytic,Clout,Authentic,Tone,Openness,Conscientiousness,Extraversion,Agreeableness,...,RC3,RC4,RC5,RC6,RC10,RC9,RC7,RC8,Polarity,Sentiment
0,"As a longtime fan of IQ, I was excited when I ...",164,76.20,40.36,16.87,71.55,4.066667,1.118333,1.423333,1.342,...,11.214537,1.494544,3.449425,1.696473,-2.284880,2.651910,-0.982962,0.166945,0.322579,Good
1,As the massager in the equation I like that it...,35,44.59,4.35,43.37,99.00,4.760000,2.856667,1.906667,1.144,...,-1.565051,-0.392241,-0.929367,-2.051842,0.133620,-0.282078,-0.108822,0.147577,0.666667,Good
2,But the top leaks. It does smell good and is r...,26,74.94,12.43,94.81,99.00,2.566667,1.283333,0.000000,1.538,...,-1.956411,-0.345580,-1.182697,-0.147329,-0.072685,-0.169118,-0.301334,0.976135,0.286111,Good
3,Gave me an instant headache upon applying to t...,43,43.45,32.10,34.47,95.29,1.553333,1.940000,1.550000,0.000,...,-0.592122,1.469903,-0.789921,-0.086725,-0.553850,-0.504018,-0.595375,0.771149,0.290000,Good
4,Good for me but good thing I read the ingredie...,30,18.82,9.13,10.08,99.00,1.110000,1.110000,4.443333,1.332,...,-0.891510,-0.582308,-0.201064,-2.004105,-0.003482,1.053650,-0.456491,-0.182417,0.700000,Good

In [17]:
df_merged.to_excel('D:\\Class work\\2nd Year\\4th Sem\\Capstone\\Segmentation\\Actual_analysis\\Combined_Metrics_1.xlsx')

In [21]:
df= pd.read_excel('D:\\Class work\\2nd Year\\4th Sem\\Capstone\\Segmentation\\Actual_analysis\\Review Analysis\\cluster_analysis_1.xlsx')

In [22]:
df.head()

,Unnamed: 0,Text,WC,Analytic,Clout,Authentic,Tone,Openness,Conscientiousness,Extraversion,...,RC4,RC5,RC6,RC10,RC9,RC7,RC8,Polarity,Sentiment,Cluster
0,0,"As a longtime fan of IQ, I was excited when I ...",164,76.20,40.36,16.87,71.55,4.066667,1.118333,1.423333,...,1.494544,3.449425,1.696473,-2.284880,2.651910,-0.982962,0.166945,0.322579,Good,Cluster 2
1,1,As the massager in the equation I like that it...,35,44.59,4.35,43.37,99.00,4.760000,2.856667,1.906667,...,-0.392241,-0.929367,-2.051842,0.133620,-0.282078,-0.108822,0.147577,0.666667,Good,Cluster 2
2,2,But the top leaks. It does smell good and is r...,26,74.94,12.43,94.81,99.00,2.566667,1.283333,0.000000,...,-0.345580,-1.182697,-0.147329,-0.072685,-0.169118,-0.301334,0.976135,0.286111,Good,Cluster 1
3,3,Gave me an instant headache upon applying to t...,43,43.45,32.10,34.47,95.29,1.553333,1.940000,1.550000,...,1.469903,-0.789921,-0.086725,-0.553850,-0.504018,-0.595375,0.771149,0.290000,Good,Cluster 2
4,4,Good for me but good thing I read the ingredie...,30,18.82,9.13,10.08,99.00,1.110000,1.110000,4.443333,...,-0.582308,-0.201064,-2.004105,-0.003482,1.053650,-0.456491,-0.182417,0.700000,Good,Cluster 2

In [23]:
X = df.iloc[:,12:-3]
X.head()
y = df.iloc[:,-1]
#y.head()

In [24]:
X.head()

,RC1,RC2,RC3,RC4,RC5,RC6,RC10,RC9,RC7,RC8
0,1.224584,3.384495,11.214537,1.494544,3.449425,1.696473,-2.284880,2.651910,-0.982962,0.166945
1,-0.772610,-0.401240,-1.565051,-0.392241,-0.929367,-2.051842,0.133620,-0.282078,-0.108822,0.147577
2,1.116823,-0.327541,-1.956411,-0.345580,-1.182697,-0.147329,-0.072685,-0.169118,-0.301334,0.976135
3,-1.651336,17.181246,-0.592122,1.469903,-0.789921,-0.086725,-0.553850,-0.504018,-0.595375,0.771149
4,-1.021191,-0.648800,-0.891510,-0.582308,-0.201064,-2.004105,-0.003482,1.053650,-0.456491,-0.182417

In [25]:
from sklearn import preprocessing
#scaler = MinMaxScaler()
#X_scl=scaler.fit_transform(X)
scaler = preprocessing.MinMaxScaler().fit(X)
data_scaler = scaler.transform(X)

X_scaled = pd.DataFrame(data=data_scaler,columns=list(X.columns),  index=X.index)
#df.drop(feature_cols, axis=1, inplace=True)
#df = pd.concat([df, df_scaled], axis=1)

In [26]:
X_scaled.head()

,RC1,RC2,RC3,RC4,RC5,RC6,RC10,RC9,RC7,RC8
0,0.153477,0.270510,1.000000,0.196670,0.417281,0.737716,0.000000,0.513608,0.321486,0.605495
1,0.053969,0.070343,0.091159,0.058713,0.047135,0.300079,0.218614,0.202480,0.422663,0.602745
2,0.148108,0.074240,0.063327,0.062125,0.025721,0.522442,0.199966,0.214458,0.400380,0.720389
3,0.010187,1.000000,0.160350,0.194869,0.058923,0.529518,0.156472,0.178945,0.366347,0.691284
4,0.041584,0.057254,0.139059,0.044816,0.108700,0.305652,0.206221,0.344124,0.382422,0.555891

In [27]:
data=X_scaled.join(df['Sentiment'])

In [28]:
data.head()

,RC1,RC2,RC3,RC4,RC5,RC6,RC10,RC9,RC7,RC8,Sentiment
0,0.153477,0.270510,1.000000,0.196670,0.417281,0.737716,0.000000,0.513608,0.321486,0.605495,Good
1,0.053969,0.070343,0.091159,0.058713,0.047135,0.300079,0.218614,0.202480,0.422663,0.602745,Good
2,0.148108,0.074240,0.063327,0.062125,0.025721,0.522442,0.199966,0.214458,0.400380,0.720389,Good
3,0.010187,1.000000,0.160350,0.194869,0.058923,0.529518,0.156472,0.178945,0.366347,0.691284,Good
4,0.041584,0.057254,0.139059,0.044816,0.108700,0.305652,0.206221,0.344124,0.382422,0.555891,Good

In [29]:
pivot=pd.pivot_table(data, index= 'Sentiment', aggfunc=np.mean)
pivot.reset_index(inplace=True)
trans_data=pivot.melt(id_vars=['Sentiment'])
trans_data.head()

  Sentiment variable     value
0       Bad      RC1  0.086175
1      Good      RC1  0.095781
2   Neutral      RC1  0.041319
3       Bad     RC10  0.156223
4      Good     RC10  0.214749

In [ ]:
Theme_1='Theme 1 : Effects of EO'
Theme_2='Theme 2 : The Feel'
Theme_3 = 'Theme 3 : Reliability '

In [30]:
trans_data['Theme'] = trans_data['variable'].apply(lambda x:1 if x>0 else (0 if x==0 else -1)  )

TypeError: '>' not supported between instances of 'str' and 'int'

In [32]:
trans_data.to_excel('D:\\Class work\\2nd Year\\4th Sem\\Capstone\\Segmentation\\Actual_analysis\\Review Analysis\\sentiment_themes.xlsx',index=False)